%body
  = react_component 'SubmitInfoForm', { logo: image_url("aligosa504x106.png"), phase1: image_url('icon-performances.svg'), phase2: image_url('icon-screen.svg'), phase3: image_url('icon-global.svg'), phase4: image_url('icon-buoy.svg') }
    
    
