.hero.services-head
  .cover
  .container.text-center{:style => "z-index: 2;position: relative"}
    %h1.text-center
      KẾT QUẢ KHÁM BỆNH
      %small Các bạn chỉ cần cung cấp số khám bệnh và mã bệnh án để xem kết quả
    .spacer40