%section.evenbg
  .container.text-center
    %h2.text-center.underlined CẢM ƠN BẠN ĐÃ SỬ DỤNG DỊCH VỤ CỦA CHÚNG TÔI
    %p.section-heading Mời bạn nhập vào các thông tin cần thiết để xem bệnh án của mình (bao gồm kết quả khám và đơn thuốc)
    = react_component 'resultMenu'