.hero.services-head
  .cover
  .container.text-center{:style => "z-index: 2;position: relative"}
    %h1.text-center
      DANH SÁCH DỊCH VỤ
      %small Các dịch vụ do trung tâm cung cấp
    .spacer40