%section.evenbg
  .container.text-center
    %h2.text-center.underlined WELCOME TO OUR HEALTH, CARE & MEDICAL CENTER
    %p.section-heading Claritas est etiam processus dynamicus, qui sequ itur mutationem consuetudium lectorum.
    = react_component 'servicesMenu', { services: @services }
