%h1 Xin chao #{@name}

%P
  Cam on ban da dang ky dich vu cua chung toi. Duoi day la thong tin de xem benh an
%p
  So kham benh cua ban la #{@number}
%p
  Ma truy cap benh an la #{@token}
%p
  Ban co the truy cap benh an cua minh tai 
  = link_to "day", result_url
%p
  Neu ban ko dang ky kham benh, co the bo qua mail nay
%p
  Phieu kham se het gia tri trong 1 ngay

