Xin chao #{@name}

Cam on ban da dang ky dich vu cua chung toi. Duoi day la thong tin de xem benh an
So kham ben cua ban la #{@number}
Ma truy cap benh an la #{@token}
Ban co the truy cap benh an cua minh tai
= result_url
Neu ban ko dang ky kham benh, co the bo qua mail nay
Phieu kham se het gia tri trong 1 ngay
