.hero
  .container
    .col-sm-6
      %h1.text-center
        MEDICA THE BEST HOSPITAL WEBSITE
        %small.hidden-xs LOREM IPSUM DOLOR SIT AMET, CONSECTETUR ADIPISICING ELIT, SED DO EIUSMOD TEMPOR INCIDIDUNT UT LABORE ET DOLORE MAGNA ALIQUA 
      .text-center
        %span
          %a.btn.btn-static-inverse{"data-no-turbolink" => "true", :href => "/enterprise/demo"} Đăng ký khám bệnh
        %span.hidden-xs
          %a.btn.btn-static-primary.m-l{"data-no-turbolink" => "true", :href => "/signup"}
            Bảng giá dịch vụ
            %i.fa.fa-caret-right
      .spacer80.clearfix
    .col-sm-6.hidden-xs
      .class-a{:style => "margin-left:auto;margin-right:auto;padding-top:150px"}
        .schedule-block{:style => "width: 260px; margin-right: 30px;"}
          .doctor-image
            %img.retina-img{:alt => "Dr. Mark Lowson", :src => asset_path("doctor1.jpg")}/
          .doctor-name
            %h4 Dr. Mark Lowson
          .timetable
            .item
              .label Monday-Friday
              .value 8:00 - 17:00
            .item
              .label Saturday
              .value 10:00 - 16:00
            .item
              .label Sunday
              .value 12:00 - 14:00
          %span.button-style2
            %i.fa.fa-arrow-left{"aria-hidden" => "true"}
          %a.button-style2{:href => "doctor-personal-page.html"}
            %span read profile
          %span.button-style2
            %i.fa.fa-arrow-right{"aria-hidden" => "true"}


    