%section#integrate
  .m800.container
    %h2.text-center.underlined New investigations
    %p.section-heading Praesent tincidunt molestie libero mollis porta. Faucibus leo, ac aliquet magna. Vivamus ullamcorper mollis leo, at sagittis mi pellentesque quis. Vivamus enim metus, varius et nunc quis, elementum pharetra turpis. Proin vel massa sed turpis auctor consectetur. Proin rhoncus eleifend pulvinar. Nam suscipit, enim eu semper porta, est magna facilisis lorem
    .spacer20
    .row
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("speed-dark.png")}/
          .media-body
            .spacer10
            %h4.color-white
              Lorem ipsum dolor sit ame
          .spacer20.hidden-xs.hidden-sm
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("ranking-dark.png")}/
          .media-body
            .spacer10
            %h4.color-white
              consectetur adipiscing eli
          .spacer20.hidden-xs.hidden-sm
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("architecture-dark.png")}/
          .media-body
            .spacer10
            %h4.color-white
              teger nec odio. Pr
          .spacer20.hidden-xs.hidden-sm
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("code-dark.png")}/
          .media-body
            %h4.color-white
              t libero. Sed cursus ante 
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("dashboard-dark.png")}/
          .media-body
            .spacer10
            %h4.color-white
              tie velit quam, mattis tincidunt li
      .col-md-4.col-sm-6.col-xs-8.col-xs-offset-2.col-sm-offset-0
        .media.m-b
          .media-left
            %img.media-object{:height => "80", :src => asset_path("support-dark.png")}/
          .media-body
            .spacer10
            %h4.color-white
              dunt nec. Fusce accums
    .spacer30
  .spacer50