%section.evenbg
  .container.text-center
    %h2.underlined Our Services
    %p.section-heading
      Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website
    .spacer30
    .row
      .col-sm-6.special-col
        .col-sm-2
          %img{:src => asset_path("medical-stethoscope-variant.svg")}/
        .col-sm-10
          %h3 Therapiya
          %p Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website
      .col-sm-6.special-col
        .col-sm-2
          %img{:src => asset_path("balls-and-lines-black-shape.svg")}/
        .col-sm-10
          %h3 Pharmocology
          %p Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website
      .col-sm-6.special-col
        .col-sm-2
          %img{:src => asset_path("medical-stethoscope-variant.svg")}/
        .col-sm-10
          %h3 Therapiya
          %p Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website
      .col-sm-6.special-col
        .col-sm-2
          %img{:src => asset_path("medical-stethoscope-variant.svg")}/
        .col-sm-10
          %h3 Therapiya
          %p Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website
      .col-sm-6.special-col
        .col-sm-2
          %img{:src => asset_path("medical-stethoscope-variant.svg")}/
        .col-sm-10
          %h3 Therapiya
          %p Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website
      .col-sm-6.special-col
        .col-sm-2
          %img{:src => asset_path("medical-stethoscope-variant.svg")}/
        .col-sm-10
          %h3 Therapiya
          %p Sirius WordPress Theme features a slick and clean design that is suitable for virtually any type of website
    .spacer40
    %a.btn.btn-static-default{:href => "/documentation"} Đọc thêm
